 {% load staticfiles %}
			
    <html>
        <head>
            <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
            <title>Caesar</title>
            <link rel="stylesheet" href="{% static 'css/igor.css' %}">
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/myScript.js' %}"></script>
        </head>
        <body>
				<div id='desc'>Шифр Цезаря<hr/><div class="myError"><span>x</span></div></div>
				<div id='wraper'>
					
					<form method="POST"   onsubmit="return false;" class="post-form">{% csrf_token %}
						
						
								<textarea rows="10" cols="45" name="lef" class="te" placeholder="Введите текст..." autofocus>{{lef}}</textarea>
								<div id='wrap2'>
									<label><div id='btnDiv'class='btn'>ROT   <input type="text" name="inText" id="inText" value='{{rot}}'></div></label>
									<button  class="btn Hover"   name="decoder"><img src="{% static 'images/john.jpg' %}"  />Расшифровать</button>
									<button  class="btn Hover"   name="encoder"><img src="{% static 'images/locke.jpg' %}"  />Зашифровать</button>
									<button  class="btn Hover"   name="kidok"><img src="{% static 'images/kidok.jpg' %}"  />Перекинуть текст</button>
									<button  class="btn Hover"   name="vanga"><img src="{% static 'images/vanga.jpg' %}"  />Ванговать</button>
								</div>
								<textarea rows="10" cols="45" name="rig" readonly class="te">{{rig}}</textarea>
						
					</form>
				</div>
				<div id="diagram">
				<hr>

				</div>
				<div  visibility='{{rot}}' id="vang">
					{{lichka}}
				</div>

						
				
        </body>
    </html>